<div class="row" ng-show="logged">
	<div class="col-md-8">
		<ul class="list-group" ng-repeat="habitat in listHabitats">
			<li class="list-group-item {{habitat.color}}">
				<div class="row">
					<div class="col-md-8">
						<strong>{{habitat.txtLibre}}</strong><br/>
						<em>{{habitat.infosLoc}}</em><br/>
						<a ng-show="habitat.haveLink" href="http://{{habitat.linkAnnonce}}" target=_blank>Lien vers l'annonce</a>
					</div>
					<div class="col-md-4 text-right">
						<strong>{{habitat.alert}}</strong>
						<span class="badge">{{habitat.prix}}</span><br/>
						<a href="#/editHabitat?idHabit={{habitat.id}}" title="Modifier/Voir"><img src="image/modif.png" /><img src="image/voir.png" /></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-4 texteInfos">
		<h2>Mon budget</h2>
		{{params.budget}}EUR
		<h2>Mes pourcentages</h2>
		<strong>Note personnelle</strong> : {{params.prefNotePers}}%<br/>
		<strong>Année de construction</strong> : {{params.prefAnneeCons}}%<br/>
		<strong>Surface habitable</strong> : {{params.prefSurfH}}%<br/>
		<strong>Surface de terrain</strong> : {{params.prefSurfT}}%<br/>
		<strong>Nombre d'étages</strong> : {{params.prefEtages}}%<br/>
		<strong>Nombre de pièces</strong> : {{params.prefNbPieces}}%<br/>
		<strong>Nombre de chambres</strong> : {{params.prefNbCh}}%<br/>
		<strong>Nombre de salles de bain</strong> : {{params.prefNbSdb}}%<br/>
		<strong>Nombre de WC</strong> : {{params.prefNbWc}}%<br/>
		<strong>Indice DPE</strong> : {{params.prefDpe}}%<br/>
		<strong>Indice GES</strong> : {{params.prefGes}}%<br/>
		<strong>Coût de l'énergie</strong> : {{params.prefCoutEnergie}}%<br/>
		<strong>Taxe d'habitation</strong> : {{params.prefTxHab}}%<br/>
		<h2>Mes souhaits</h2>
		<strong>Année de construction</strong> : {{params.anneeSouhaite}}<br/>
		<strong>Surface de terrain</strong> : {{params.surfTSouhaite}}m²<br/>
		<strong>Nombre d'étages</strong> : {{params.nbEtagesSouhaite}}<br/>
		<strong>Nombre de chambres</strong> : {{params.nbChSouhaite}}<br/>
	</div>
</div>
