body { 
	padding-top: 70px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(240, 212, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url('/image/footerImg.jpg');
}
.footertext {
  color: #ffffff;
}

.bghome{
	min-height: 100%;
	z-index:1;
	background-size:cover;

	/* Set up proportionate scaling */
	width: 100%;
	min-width:1300px;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.accueil{
  z-index:2;
  position: relative;
}
.accueilFont{
	font-size:36px;
	color:#FFFFFF;
	font-weight:bold;
	font-family:arial;
}

.accueilInfo {
	z-index:2;
	position: absolute;
	bottom:0px;
	right:70px;
}

.accueilInfo a{
	color:#FFFFFF;
}

.otherInfo a{
	color:#000000;
}

.texteInfos{
	color:#808080;
	font-size:85%;
}
